.user-card-container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 75px;
}
  
  
.user-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}
  
.user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6120f9;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #6120f9;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}
  
.user-info {
    text-align: center;
    color: black;
}